<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="TitleTextField">Title</label>
          <input
            type="text"
            class="form-control"
            id="TitleTextField"
            placeholder="Incident Title"
            name="title"
            value="<%= incident.Title %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="DescriptionTextField">Description</label>
          <input
            type="text"
            class="form-control"
            id="DescriptionTextField"
            placeholder="Incident Description"
            name="description"
            value="<%= incident.Description %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="DateField">Date</label>
          <input
            type="date"
            class="form-control"
            id="DateField"
            placeholder="Incident Date"
            name="date"
            value="<%= incident.Date %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="SeveritySelectField">Severity</label>
          <select
            class="form-control"
            id="SeveritySelectField"
            name="severity"
            value="<%= incident.Severity %>"
            required
          >
            <option selected value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ReporterTextField">Reporter</label>
          <input
            type="text"
            class="form-control"
            id="ReporterTextField"
            placeholder="Incident Reporter"
            name="reporter"
            value="<%= incident.Reporter %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="AreaTextField">Area</label>
          <input
            type="text"
            class="form-control"
            id="AreaTextField"
            placeholder="Incident Area"
            name="area"
            value="<%= incident.Area %>"
          />
        </div>
        <div class="form-group">
          <label for="LocationTextField">Location</label>
          <input
            type="text"
            class="form-control"
            id="LocationTextField"
            placeholder="Incident Location"
            name="location"
            value="<%= incident.Location %>"
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
        <a href="/incidents" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
  <script>
    document.getElementById('DateField').valueAsDate = new Date();
  </script>
</div>

<% include ../partials/footer.ejs %>
